/*
 * -------------------------------------------------
 * Nextflow config file for SarGet
 * -------------------------------------------------
 * Base configuration with profiles for local and Uppmax use
 * -------------------------------------------------
 */

params{
    genome = 'GRCh37'
}

env {
  NXF_OPTS="-Xms1g"
}

profiles {

  docker {
    includeConfig 'configuration/base.config'
    includeConfig 'configuration/docker.config'
    includeConfig 'configuration/containers.config'
    includeConfig 'configuration/genomes.config'
  }

  slurm {
    includeConfig 'configuration/base.config'
    includeConfig 'configuration/uppmax-slurm.config'
    includeConfig 'configuration/singularity-path.config'
    includeConfig 'configuration/genomes.config'
  }

  none {
    // Don't load any config (for use with custom home configs)
  }

}
