docker.enabled = true

process {
    withName:RunFastQC {
        container = 'maxulysse/qctools:latest'
    }
    withName:TrimReads {
        container = 'viktorlj/targetseq:latest'
    }
    withName:MapReads {
        container = 'viktorlj/targetseq:latest'
    }
}

params.genome_base = '/Volumes/Moby/Reference/Sarek/'
params.genome = 'GRCh37'
includeConfig 'genomes.config'