/*
 * -------------------------------------------------
 * Nextflow config file for SarGet
 * -------------------------------------------------
 * Images for every process
 * -------------------------------------------------
 */


process {
    withName:RunFastQC {
        container = 'maxulysse/qctools:latest'
    }
    withName:TrimReads {
        container = 'viktorlj/sarget:latest'
        cpus = 4
    }
    withName:MapReads {
        container = 'viktorlj/sarget:latest'
        cpus = 4
    }
    withName:AddUMIs {
        container = 'viktorlj/sarget:latest'
        cpus = 4
    }
    withName:VariantCallingUMI {
        container = 'viktorlj/pisces:latest'
        cpus = 2
    }
    withName:VariantCalling {
        container = 'viktorlj/pisces:latest'
        cpus = 2
    }
    withName:Pindel {
        container = 'viktorlj/sarget:latest'
        cpus = 2
    }
    withName:RunVEP {
        container = 'maxulysse/vepgrch37:latest'
    }
    withName:siftAddCosmic {
        container = 'viktorlj/sarekpostprocess:latest'
    }
    withName:finishVCF {
        container = 'viktorlj/pandas:latest'
    }

}