/*
 * -------------------------------------------------
 * Nextflow config file for SarGet
 * -------------------------------------------------
 * Images for every process
 * -------------------------------------------------
 */

process {

  cpus = { check_max( 2, 'cpus' ) }
  memory = { check_max( 8.GB * task.attempt, 'memory' ) }
  time = { check_max( 2.h * task.attempt, 'time' ) }

  errorStrategy = { task.exitStatus in [1,143,137,104,134,139] ? 'retry' : 'terminate' }
  maxRetries = 3
  maxErrors = '-1'

    withName:RunFastQC {
        container = 'maxulysse/qctools:latest'
    }
    withName:TrimReads {
        container = 'viktorlj/sarget:latest'
        cpus = { check_max( 4, 'cpus' ) }
    }
    withName:MapReads {
        container = 'viktorlj/sarget:latest'
        cpus = { check_max( 8, 'cpus' ) }
    }
    withName:AddUMIs {
        container = 'viktorlj/sarget:latest'
        cpus = { check_max( 4, 'cpus' ) }
    }
    withName:VariantCallingUMI {
        container = 'viktorlj/sarget:latest'
    }
    withName:RunVEP {
        container = 'maxulysse/vepgrch37:latest'
    }
    withName:siftAddCosmic {
        container = 'viktorlj/sarekpostprocess:latest'
    }
    withName:finishVCF {
        container = 'viktorlj/sarekpostprocess:latest'
    }
}