/*
 * -------------------------------------------------
 * Nextflow config file for SarGet
 * -------------------------------------------------
 * Paths to Singularity images for every process
 * No image will be pulled automatically
 * Need to transfer and set up images before
 * -------------------------------------------------
 */

singularity {
  enabled = true
}

process {
    withName:RunFastQC {
        container = "${params.containerPath}/qctools-latest.img"
    }
    withName:TrimReads {
        container = "${params.containerPath}/sarget-latest.img"
    }
    withName:MapReads {
        container = "${params.containerPath}/sarget-latest.img"
    }
    withName:AddUMIs {
        container = "${params.containerPath}/sarget-latest.img"
    }
    withName:VariantCallingUMI {
        container = "${params.containerPath}/sarget-latest.img"
    }
    withName:RunVEP {
        container = "${params.containerPath}/vepgrch37-latest.img"
    }
    withName:siftAddCosmic {
        container = "${params.containerPath}/sarekpostprocess-latest.img"
    }
    withName:finishVCF {
        container = "${params.containerPath}/sarekpostprocess-latest.img"
    }
}